{% extends 'base.html.twig' %} {% block title%} Liste des Plats par Catégorie{% endblock %} {% block body %} {{ form_start(form) }}
<div class="form-row align-items-end">
    <div class="col">
        {{ form_row(form.category) }}
    </div>
    <div class="col">
        <div class="form-group">
            <button type="submit" class="btn btn-success">Rechercher</button>
        </div>
    </div>
</div>
{{ form_end(form) }} {% if plats %}
<table id="plats" class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>ingredients</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for plat in plats %}
        <tr>
            <td>{{ plat.titre }}</td>
            <td>{{ plat.ingredients }}</td>
            <td>{{ plat.category.titre }}</td>
            <td>
                <a href="/plat/{{ plat.id }}" class="btn btndark">Détails</a>
                <a href="/plat/edit/{{ plat.id }}" class="btn btndark">Modifier</a>
                <a href="/plat/delete/{{ plat.id }}" class="btn btndanger" onclick="return confirm('Etesvous sûr de supprimer cet plat?');">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <img src="{{ asset ('assets/img/Stovrébelge.jpg') }}" alt="">
    </tbody>
</table>
{% else %}
<p>Aucun plats</p>
{% endif %} {% endblock %}